
/* i didn't wrote the font-face 
(i actually didn't learn it well, i will probably anyway go only with google fonts*/
@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/* MY ERROR - i wrote here body h1 

I didn't wrote Helvetica, Arial, */

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;

}

/************************************************
See the rest of the css after the following error
*************************************************

 MY ERROR - i put in the following styles

h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin: 30px 0 10px 0 ;
	padding: 0 0 0 75px;

nav ul {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	padding: 10px 0  30px 0;
	float: right;	
}

img {
	margin: auto;
	display: block;
	border-top: 50px;
	border-bottom: 50px;
	border-color: #77a466;
}

body h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color: #77a466;
	padding: 0 0 0 75px;
}

body p {
	font-family: 'Montserrat', sans-serif;	
	font-size: 16px;
	padding: 0 75px 0 75px;
}

body .third-width h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	margin: 20px;
}

section {
	border-top: solid 1px;
}

section .third-width .specials p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: left;
	color: #77a466;
}

section .third-width {
	display: inline-block;
	float: left;
	clear: right;
	margin: 22px;
	width: 25%;
	position: relative;	
	border-right: solid;
}

*****************************************/

/* EXPLAINING - without the "width and margin" goes the whole site to left*/
.container {

	width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
	padding: 0 30px;
}



	/* QUESTION - not sure what the margin does here*/
header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}



/* EXPLAINING - without "float or margin" goes the header down and out of place
   QUESTION - not sure what the padding does here*/
header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

header h1 a {
	text-decoration: none;
}

/* EXPLAINING - without "float" goes the nav to the right
                without "padding" goes the nav to top*/
header nav {
	float: right;
	padding: 46px 0;
}



/* EXPLAINING - without "the margin" goes the header down and out of place
   QUESTION - not sure what the padding does here*/
header nav ul {
	margin: 0;
	padding: 0;
}



/* EXPLAINING - without "padding" are the nav tabs too close to each other
                without "inline" goes all tabs on top of each other

   QUESTION - I can't see any difference between inline and inline-block for these tabs*/
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}



/* EXPLAINING - without "text-decoration: none;" is a underline under each tab*/
header nav ul li a {
	text-decoration: none;
	color: #77a466;
}



/* QUESTION - not sure what the "margin and clear" does here*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;	
}

.main-image img {
	border-bottom: 3px solid #77a466;
	opacity: 0.7;
}



	/* QUESTION - not sure what the height and float does here*/
.home-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.home-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.home-main-title p {
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}

.about-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.about-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.about-main-title p {
	padding: 0;
	font-size: 13px;
	line-height: 25px;
	text-align: justify;
}

.about-main-title span {
	color: #9b2d2d;
	text-align: center;
}

.about-main-title .mock {
	text-align: center;
	font-weight: 900;
}

.location-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.location-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.location-main-title p {
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

/* EXPLAINING - without "the right width" are all sections out of place
                without "the float" are all sections out of place
   QUESTION - not sure what the "height" does here
	/**/
.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}


/* QUESTION - not sure what the "padding" does here*/
.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.home-side-image img {
	float: right;
	margin: 5px 25px 0 25px;
	width: 270px;
	border: 1px solid #ddd;	
	padding: 5px;
}

.about-side-image img {
	float: right;
	margin: 5px;
	width: 620px;
	border: 1px solid #ddd;	
	padding: 5px;
}

.col-1 {
	float: left;
}

.location-1 {
	margin-bottom: 66px;
}

iframe {
	margin: 20px;
}

/* EXPLAINING - without "padding" are all sections out of place*/
.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}



/* EXPLAINING - without "list-style: none;" are the bullet points visible
                without "padding" is the list more inside the table*/
.menu {
	list-style: none;
	padding: 0;
}



/* EXPLAINING - without "correct padding" is the list too close to each other*/
.menu li {
	padding: 10px 0;
	color: #77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}



/* MY ERROR - i put in this styles in the foother

	border-top: : solid 1px;
	margin-top: 50px;
	padding: 20px;
	*/

/* EXPLAINING - without "clear" goes the footer into the contact area
   QUESTION - not sure what the "height and margin" does here*/
footer {
	height: 50px;
	border-top: 1px solid #eee;
	margin: 0 auto;
	clear: both;
}

.social-icons {
        margin-top: 50px;
        text-align: center;
}

footer li {
	list-style: none;
        display: inline-block;
	margin: 0;
        padding: 0;
}

.nav-footer {
	text-align: center;
	font-size: 10px;
	color: #9b9b9f;
	margin-top: 35px;
	text-transform: uppercase;
        word-spacing: 5px;
}

.nav-footer a {
	text-decoration: none;
}

footer .fresh {
	text-align: center;
	margin-top: 25px;
        peddling: 0;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

.disclaimer {
	color: #817f7f;	
	margin: 25px 0 20px 25px;
	padding: 10px 0 10px 25px;
	border-radius: 25px;
	background: #d9fefd;
	
}

footer p {
	color: #6b6c6a;
	font-size: 12px;
}
