
@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container {

	width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
	padding: 0 30px;
}

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}

header h1 span {
	color: #77a466;
}

header h1 a {
	text-decoration: none;
}

header nav {
	float: right;
	padding: 46px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}

header nav ul li a {
	text-decoration: none;
	color: #77a466;
}

.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;	
}

.main-image img {
	border-bottom: 3px solid #77a466;
	opacity: 0.7;
}

.home-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.home-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.home-main-title p {
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}

.about-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.about-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.about-main-title p {
	padding: 0;
	font-size: 13px;
	line-height: 25px;
	text-align: justify;
}

.about-main-title span {
	color: #9b2d2d;
	text-align: center;
}

.about-main-title .mock {
	text-align: center;
	font-weight: 900;
}

.location-main-title {
	height: auto;
	width: 500px;
	float: left;
}

.location-main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}

.location-main-title p {
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.home-side-image img {
	float: right;
	margin: 5px 25px 0 25px;
	width: 270px;
	border: 1px solid #ddd;	
	padding: 5px;
}

.about-side-image img {
	float: right;
	margin: 5px;
	width: 620px;
	border: 1px solid #ddd;	
	padding: 5px;
}

.col-1 {
	float: left;
}

.location-1 {
	margin-bottom: 66px;
}

iframe {
	margin: 20px;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color: #77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 1px solid #eee;
	margin: 0 auto;
	clear: both;
}

.social-icons {
        margin-top: 50px;
        text-align: center;
}

footer ul {
	padding: 0;
}

footer li {
	list-style: none;
        display: inline-block;
	margin: 0;
        padding: 0;
}

footer .fresh {
	text-align: center;
	margin-top: 25px;
        peddling: 0;
}

.nav-footer {
	text-align: center;
	font-size: 10px;
	color: #9b9b9f;
	margin-top: 35px;
	text-transform: uppercase;
        word-spacing: 5px;
}

.nav-footer a {
	text-decoration: none;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

.disclaimer {
	color: #817f7f;	
	margin: 25px 0 20px 25px;
	padding: 10px 0 10px 25px;
	border-radius: 25px;
	background: #d9fefd;
	
}

footer p {
	color: #6b6c6a;
	font-size: 12px;
}
